<tui-select [formControl]="control" [valueContent]="value">
    <span class="required-label">Тип книги</span>
    <input tuiTextfield />

    <tui-data-list *tuiDataList>
        @for (type of types; track type) {
            <button
                    tuiOption
                    [value]="type"
            >
                {{ type | bookTypeStringify }}
            </button>
        }
    </tui-data-list>
</tui-select>
<ng-template #value let-value>
    {{ value | bookTypeStringify }}
</ng-template>