<tui-select [formControl]="control" [valueContent]="value">
    <span class="required-label">{{ 'BOOK_FORM.LABELS.STATUS' | translate }}</span>
    <input tuiTextfield />

    <tui-data-list *tuiDataList>
        @for (status of statuses; track status) {
            <button
                    tuiOption
                    [value]="status"
            >
                {{ status | bookStatusStringify }}
            </button>
        }
    </tui-data-list>
</tui-select>
<ng-template #value let-value>
    {{ value | bookStatusStringify }}
</ng-template>