:host {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.empty-list {
  display: flex;
  flex-flow: column;

  align-items: center;
}

.description {
  margin-top: 0.5rem;
}

img {
  width: 8rem;
}