<form-layout>
    <h1>
        {{ 'LOGIN.HEADER' | translate }}
    </h1>

    <form [formGroup]="form">
        <form-row>
            <tui-input
                    icon="tuiIconSearchLarge"
                    iconAlign="left"
                    formControlName="login"
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
            >
                {{ 'LOGIN.LABELS.ENTER_LOGIN' | translate }}
                <input
                        tuiTextfield
                />
            </tui-input>

            <tui-error formControlName="login" [error]="[] | tuiFieldError | async"></tui-error>
        </form-row>

        <form-row>
            <tui-input-password
                    formControlName="password"
                    tuiTextfieldSize="m"
                    [tuiTextfieldLabelOutside]="true"
            >
                {{ 'LOGIN.LABELS.ENTER_PASSWORD' | translate }}
                <input tuiTextfield/>
            </tui-input-password>

            <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
        </form-row>

        @if (unauthorized()) {
            <tui-error [error]="'LOGIN.ERRORS.INCORRECT_CREDENTIALS' | translate"></tui-error>
        }

        <a routerLink="/registration" tuiLink class="registration-link">
            {{ 'LOGIN.REGISTER_LINK' | translate }}
        </a>

        <button tuiButton size="m" data-testid="login-button" [disabled]="form.invalid" (click)="submit()"> Войти
        </button>
    </form>
</form-layout>
