:host {
  display: flex;

  flex-flow: column;

  height: 100%;
}

a {
  width: 100%;
}

.content {
  width: 100%;

  display: flex;

  align-items: center;

  justify-content: space-between;
}

tui-loader {
  height: 100%;
}