<tui-loader [showLoader]="items() == null" [overlay]="true" size="xl">
    @for (item of items(); track item.name) {
        <a tuiButton size="m" appearance="flat" [routerLink]="[item.name]">
            <div class="content">
                <span>
                    {{ (item.name ? item.name : 'Не указано') | firstLetterUp }}
                </span>
                <span>
                    {{ item.count }}
                </span>
            </div>
        </a>
    }

    @if (items() != null && !items()?.length) {
        <empty-list></empty-list>
    }
</tui-loader>
