<form-layout [formGroup]="form">
    <form-row>
        <tui-input formControlName="name">
            Назнание
            <input tuiTextfield/>
        </tui-input>
    </form-row>

    <form-section>
        <form-header>
            Авторы
        </form-header>
        <authors-input [controlArray]="form.controls.authors"/>
    </form-section>

    <form-row>
        <tui-textarea formControlName="description" [expandable]="true">
            Описание
        </tui-textarea>
    </form-row>

    <form-section>
        <form-header>
            Теги
        </form-header>
        <tags-input [controlArray]="form.controls.tags"/>
    </form-section>

    <form-row>
        <tui-input-date formControlName="startDate">
            Начало чтения
        </tui-input-date>
    </form-row>

    <form-row>
        <tui-input-date formControlName="finishDate" [tuiTextfieldLabelOutside]="true">
            Окончание чтения
        </tui-input-date>
    </form-row>
</form-layout>