<tui-loader [showLoader]="id() != null && !book()" [overlay]="true" size="xl">
    <form-layout [formGroup]="form">
        <form-row>
            <tui-input formControlName="name">
                <span class="required-label">Название</span>
                <input tuiTextfield/>
            </tui-input>
        </form-row>

        <form-section>
            <form-header>
                Авторы
            </form-header>

            <authors-input [controlArray]="form.controls.authors"/>
        </form-section>

        <form-row>
            <tui-textarea formControlName="note" [expandable]="true">
                Заметка
            </tui-textarea>
        </form-row>

        <form-row>
            <genre-input [control]="form.controls.genre"></genre-input>
        </form-row>

        <form-section>
            <form-header>
                Теги
            </form-header>
            <tags-input [controlArray]="form.controls.tags"/>
        </form-section>

        <form-section class="series-section" [class.series-section--closed]="!seriesEnabledValue">
            <form-header>
                <span>
                    Серия
                </span>

                <tui-toggle formControlName="seriesEnabled" [showIcons]="true" size="l"></tui-toggle>
            </form-header>

            @if (seriesEnabledValue) {
                <form-row flex="true" data-testid="series-row">
                    <series-input [control]="form.controls.series"></series-input>

                    <tui-input-number formControlName="seriesNumber">
                        Номер книги
                        <input tuiTextfield/>
                    </tui-input-number>
                </form-row>
            }
        </form-section>

        <form-row>
            <type-select [control]="form.controls.type"></type-select>
        </form-row>

        <form-row>
            <status-select [control]="form.controls.status"></status-select>
        </form-row>

        @if (statusValue === BookStatus.IN_PROGRESS || statusValue === BookStatus.DONE) {
            <form-row data-testid="start-date-row">
                <tui-input-date formControlName="startDate">
                    Начало чтения
                </tui-input-date>
            </form-row>
        }

        @if (statusValue === BookStatus.DONE) {
            <form-row data-testid="end-date-row">
                <tui-input-date formControlName="finishDate">
                    Окончание чтения
                </tui-input-date>
            </form-row>
        }

        <button [attr.data-testid]="'save-button'"
                type="submit"
                tuiButton
                size="m"
                (click)="save()"
                [disabled]="form.invalid || disabledButton()"
        >
            Сохранить
        </button>
    </form-layout>
</tui-loader>
