<tui-input
        class="b-form"
        [formControl]="control"
>
    <span class="required-label">Название серии</span>
    <input
            tuiTextfield
    />

    @if (series().length) {
        <tui-data-list *tuiDataList>
            <button
                    *ngFor="let series of series() | tuiFilterByInput"
                    tuiOption
                    [value]="series | firstLetterUp"
            >
                {{ series | firstLetterUp }}
            </button>
        </tui-data-list>
    }
</tui-input>