/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;

  --border-color: var(--tui-base-03);

  --secondary-text: var(--tui-font-text-s)
}

.required-label {
  &::after {
    content: "*";
    color: var(--tui-error-fill);
  }
}