/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;

  --border-color: var(--tui-base-03);

  --secondary-text: var(--tui-font-text-s)
}

.required-label {
  &::after {
    content: "*";
    color: var(--tui-error-fill);
  }
}

.error-page {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-flow: column;

  height: 60%;

  &__code {
    color: var(--tui-warning-fill);

    font-size: 6rem;
    font-weight: 600;

    line-height: 7.5rem;
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 500;
  }
}